/* Global styles */
body {
  height: 100%;
}

hr {
  opacity: 0.3;
}

h2 {
  font-weight: 400;
}

label {
 /* text-transform: capitalize; */
}

.md-menu-content {
  z-index: 2000;
}

.md-theme-default.md-boards > .md-boards-navigation .md-board-header {
   color: rgba(0, 0, 0, .2) !important;
}

.md-theme-default.md-boards > .md-boards-navigation .md-board-header.md-active, .md-theme-default.md-boards > .md-boards-navigation .md-board-header:active {
   color: #3f51b5 !important;
}

#loader span {
  font-size: 15px;
  display: inline-block;
  margin: auto;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  opacity: 1;
  animation: blinker .8s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: .6;
  }
}

textarea {
  width: 100%;
  border: 0;
  padding: 8px;
  color: #444;
  background: #cecece;
}

.add-block-button {
  background-color: #5db53b !important;
}
.add-block-button:hover {
  background-color: #50a230 !important;
}

.md-input-container {
  margin: 5px 0 15px 0;
}

.md-toolbar.md-dense {
  min-height: 55px;
}

.version {
  font-size: 10px;
}

.hidden {
  display: none;
}

.logo {
  font-weight: bold !important;
}

.logo-icon {
  font-weight: normal;
  width: 15px;
  text-align: right;
  font-size: 16px;
  margin-right: 6px;
}

.tool-bar {
  z-index: 2;
  position: fixed;
  top: 0;
  width: 27%;
  left: 0;
  background-color: #161325 !important;
}

.side-bar {
  position: fixed;
  padding: 5px;
  top: 55px;
  left: 0;
  bottom: 55px;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: #DDD;
  width: 27%;
  box-shadow: 0 0 30px rgba(0, 0, 0, .2);
}

.md-menu-backdrop {
  z-index: 1500;
}

.side-bar:hover {
  overflow-y: auto;
}

.side-bar .block .md-tab-header.md-active {
  color: #0097cc !important;
}
.side-bar .block .md-tab-indicator {
  background-color: #0097cc !important;
}
.side-bar .block .md-tabs-content {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3)
}

.side-bar .block .md-tabs-content .md-button {
  padding: 1px 10px;
  margin: 4px;
  font-size: 12px;
  min-height: 10px;
  min-width: 10px;
  text-transform: none;
}

.side-bar .model-selector {
  background-color: #C0C0C0;
  background: -moz-linear-gradient(top, #c0c0c0 1%, #adadad 100%);
  background: -webkit-linear-gradient(top, #c0c0c0 1%,#adadad 100%);
  background: linear-gradient(to bottom, #c0c0c0 1%,#adadad 100%);
  margin: -5px;
  padding: 0 16px;
}

.side-bar .model-selector button {
  margin: 17px 0 -2px 0;
  box-shadow: none !important;
  border-radius: 0;
}

.side-bar .model-selector button.md-raised {
  background-color: #ddd !important;
}

.side-bar .block {
  margin: 10px;
}

.side-bar .block .data-input, .side-bar .block .units-input  {
  position: relative;
}

.side-bar .block .data-input textarea {
  padding-right: 45px;
}
.side-bar .block .data-input .md-button {
  position: absolute;
  top: 16px;
  right: 0px;
  opacity: .75;
}

.side-bar .block .data-input .md-button .md-icon {
  font-size: 20px !important;
}

.md-card .md-card-content:last-child {
  padding-bottom: 3px;
}


/* Random variable */
.side-bar .block-0 {
  border-top: 4px solid #fab85a;
}

/* Expression */
.side-bar .block-1 {
  border-top: 4px solid #0097cc;
}

/* Data */
.side-bar .block-2 {
  border-top: 4px solid #84c161;
}

/* Accumulator */
.side-bar .block-3 {
  border-top: 4px solid #c44a78;
}

/* Observer */
.side-bar .block-4 {
  border-top: 4px solid #ababab;
}

/* Condition */
.side-bar .block-5 {
  border-top: 4px solid #ababab;
}
/* Neural net */
.side-bar .block-6 {
  border-top: 4px solid #530ea3;
  overflow: hidden;
}

.side-bar .block-name {
  width: 100%;
  padding-left: 10px;
  padding-top: 7px;
  font-size: 20px;
}
.side-bar .block-type {
  font-size: 11px;
  line-height: 0px;
  color: #888;
  font-weight: bold;
}

/* Neural net layer */
.side-bar .layer {
  padding: 15px;
  border-bottom: 2px dashed rgba(150,150,150,0.3);
  position: relative;
}

.side-bar .layer-control {
  text-align: center;
}

.side-bar .layer-control .md-button {
  min-height: 20px;
  line-height: 20px;
  font-size: 11px;
  padding: 1px 8px;
  min-width: 0;
}

.content {
  padding-left: 27%;
  padding-bottom: 100px;
}

.content .links {
  margin: 20px;
}

.content .links pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-x: auto;
  margin: 0;
  padding: 10px;
  background-color: #EEE;
  border: 1px solid #CCC;
}

.content .graph-container {
  background-color: #F2F2F2;
}

.content .chips .md-chip {
  margin: 0 -4px 7px 0;
  height: 25px;
  padding: 4px 10px;
  font-size: 11px;
  color: white;
  box-shadow: 0 0 5px rgba(0,0,0,.25);
}

.content .net {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  z-index: 1;
}

.content #m-end{
  fill: rgba(200, 200, 200, 0.8);
}

.content .node-label {
  font-weight: 200;
  font-style: normal;
}

.content .tables {
  margin: 20px;
}

.content .control-buttons {
  text-align: right;
}

.content .control-buttons .md-switch{
  margin: 0 21px 0 0;
}
.content .control-buttons .md-button{
  background-color: #a9a9a933;
  margin: 0;
  min-height: 25px;
  line-height: 25px;
  font-size: 12px;
}

.content .control-button .md-icon {
  height: 21px;
  min-height: 21px;
}


.content .charts, .content .charts-2d, .content .charts-extra, .content .archives {
  margin: 20px;
  display: flex;
  justify-content: left;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
}

.content .result-header {
  width: 100%;
  border-top: 1px solid rgba(150,150,150,.4);
  padding: 10px 0 22px 0;
}

.content .result-header h2 {
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 5px;
}

.content .result-header:first-child {
  width: 100%;
  border-top: none
}

.content .result-header .result-value,  .content .result-header .result-units{
  color: #1a6fef;
  font-weight: 600;
}

.content .result-header .result-units {
  padding-left: 4px;
  font-size: 16px;
}

.content .result-header .result-description {
  color: rgb(140, 140, 140);
  font-size: 11px;
}

.content .chart, .content .chart-2d, .content .charts-extra img, .content .archive, .content .tables .md-table {
  border: 1px solid #EEE;
  margin: 0 1% 1% 0;
}

.content .chart, .content .chart-2d, .content .charts-extra img {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.content .tables .md-table-cell {
  min-width: 90px;
}

.content .archive {
  padding: 10px 14px;
}

.content .chart {
  width: 48%;
  height: 300px;
}

.content .charts-extra img {
  width: 48%;
  height: auto;
}

.content .dygraph-legend {
  top: 0 !important;
  right: 0 !important;
  left: inherit !important;
  position: absolute;
  margin: 3px 10px !important;
}

.content .dygraph-title {
  /*
  font-weight: bold !important;
  */
  font-size: 16px !important;
  margin: 3px 10px !important;
}

.content .chart-heavy .dygraph-legend > span {
  display: none;
}

.content .chart-heavy .dygraph-legend > span.highlight {
  display: inline;
}

.content .chart h1 {
  text-align: center;
  font-size: 61px;
  font-weight: 200;
  color: #1a6fef;
  margin: 15px;
}

.content .chart p {
  text-align: center;
  font-weight: bold;
}

.content .summary {
  text-align: left;
}

.content .summary h3 {
  margin: 6px 0;
  font-size: 20px;
  font-weight: 400;
}

.content .summary table td{
  border-top: 1px solid rgba(120, 120, 120, 0.4);
  min-width: 100px;
}

.content .summary table td b{
  color: #3f51b5;
}

.content .parameters {
  position: relative;
  width: 300px;
  min-height: 500px;
  padding: 20px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  z-index: 2;
}

.content .parameters .md-icon {
  color: rgba(150, 150, 150, .4)
}

.content .parameters h2 {
  margin: 0 0 15px 0;
  font-size: 30px;
}

.content .parameters p {
  color: rgba(150,150,150);
}

.content .parameters .md-input-container {
  margin: 0 0 5px 0;
}

.content .parameters .md-input-container::after{
  display: none;
}

.content .parameters .md-input-container label {
  margin-top: 2px;
  left: 5px;
  z-index: 10;
}

.content .parameters input, .content .parameters .md-select {
  font-size: 18px;
  font-weight: bold;
  padding-left: 5px;
  margin-top: 4px;
  background-color: white;
}

.progress {
  position: fixed;
  bottom: 56px;
  left: 0;
  right: 0;
}

#loader {
  position: fixed;
  top: 45%;
  width: 100%;
  text-align: center;
  z-index: 200;
}

#loader span {
  background-color: rgba(240, 240, 240, 0.4)
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  z-index: 1000;
}

.bottom-bar .simulation-param {
  max-width: 200px;
  margin-right: 20px;
}

.param-bar {
  display: none;
}

.param-bar.md-active {
  display: initial;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
}

.simulation-method-container .md-select-value {
  font-weight: bold;
}

.mobile {
  display: none;
}

/* 2D Plots */
tile {
  shape-rendering: crispEdges;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.plot {
  text-align: center;
}
.plot > canvas {
  margin: 0 !important;
  z-index: 2;
  image-rendering: optimizeSpeed;             /* Older versions of FF          */
  image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast; /* Safari                        */
  image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated;                 /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}


/* DARK THEME */
.dark {
  min-height: 100%;
  background: #292735;
}
.dark h2 {
  color: #ddd;
}
.dark .tool-bar {
  background: #161325 !important;
}
.dark textarea {
  background: rgb(32, 30, 41) none repeat scroll 0% 0%;
  color: #c4c3d4;
}
.dark .side-bar .model-selector {
  background: #201e29;
  color: white;
}
.dark .side-bar .model-selector button.md-raised {
  background: #3B3847 !important;
  color: white !important;
}
.dark .side-bar {
  background: #3B3847;
  color: white;
}
.dark .md-theme-default.md-card {
  background: #1e1c27;
}
.dark .md-input-container.md-has-value input, .dark .md-input-container.md-has-value textarea {
  color: #f2f2f2;
}
.dark .md-input-container label {
  color: rgba(166, 176, 209, 0.51)
}
.dark .md-input-container::after {
  background: rgba(255, 255, 255, 0.1);
}
.dark .side-bar .block-type {
  color: rgba(166, 176, 209, 0.51)
}
.dark .side-bar .block .md-whiteframe {
  background-color: #16141d;
}
.dark .side-bar .block .md-theme-default.md-tabs.md-transparent > .md-tabs-navigation .md-tab-header {
  color: rgb(98, 102, 124)
}
.dark .md-button {
  color: rgba(166, 176, 209, 0.51)
}
.dark .md-theme-default.md-card .md-card-header .md-icon-button:not(.md-primary):not(.md-warn):not(.md-accent) .md-icon, .dark .md-theme-default.md-card .md-card-actions .md-icon-button:not(.md-primary):not(.md-warn):not(.md-accent) .md-icon {
  color: rgba(204, 206, 245, 0.45);
}
.dark .md-theme-default.md-checkbox.md-disabled:not(.md-checked) .md-checkbox-container {
  border-color: rgba(135, 135, 168, 0.2);
}
.dark .md-checkbox .md-checkbox-container {
  border-color: rgba(152, 152, 198, 0.52)
}
.dark .md-theme-default.md-bottom-bar.md-fixed {
  background: #111015 !important;
}
.dark body.md-theme-default {
  color: rgb(245, 245, 245);
}
.dark .md-select-value {
  color: #e3e4f2 !important;
}
.dark .md-select::after {
  color: rgba(129, 129, 129, 0.7) !important;
}
.dark .md-toolbar {
  background: #121115 !important;
}
.dark .message {
  color: white;
}
.dark .md-sidenav-content {
  background: #3B3847 !important;
  color: white !important;
}
.dark .md-input-focused input, .dark .md-input-focused textarea {
  color: white !important;
  text-shadow: 0 0 0 white !important;
  -webkit-text-fill-color: white !important;
}
.dark .md-input-focused label {
  color: rgb(68, 134, 255);
}
.dark .content .chart, .dark  .content .chart-2d, .dark .content .archive {
  background: #19181E !important;
  color: #e3e4f2 !important;
  border: none;
}
.dark .content .parameters input, .dark .content .parameters .md-select {
  background-color: #100f16;
}
.dark .graph-container {
  background-color: #1D1C26 !important;
}
.dark .node-label {
  fill: #e3e4f2 !important;
  font-weight: 400;
}
.dark .md-switch .md-switch-label {
  color: white;
}
.dark pre {
  background-color: #151222 !important;
  border: 1px solid #3e5269 !important;
  color: #7fb9f8 !important;
}
.dark .run-button, .dark .params-button, .dark .add-block-button {
  background-color: transparent !important;
}
.dark .add-block-button {
  border: 2px solid #5db53b !important;
}
.dark .add-block-button .md-icon {
  color: #5db53b;
}
.dark .add-block-button:hover {
  border: 2px solid #38801c !important;
}
.dark .params-button {
  border: 2px solid #da346c !important;
}
.dark .params-button .md-icon {
  color: #da346c;
}
.dark .params-button:hover {
  border: 2px solid #9a1441 !important;
}
.dark .run-button {
  border: 2px solid #475cd2 !important;
}
.dark .run-button .md-icon {
  color: #475cd2;
}
.dark .run-button:hover {
  border: 2px solid #28388f !important;
}
.dark .md-board span {
  background: transparent !important;
}
.dark .handsontable th, .dark .handsontable tr:first-child td, .dark .handsontable tr:first-child th {
  background-color: #201e29 !important;
  color: #727085 !important;
}
.dark .handsontable tr:first-child td, .dark .handsontable tr:first-child th {
  border-top: 1px solid #5C5B6C;
}
.dark .handsontable th {
  border-left: 1px solid #5C5B6C;
  border-right: 1px solid #5C5B6C;
}
.dark .handsontable td {
  background-color: #3b3847;
  color: white;
}
.dark .handsontable .handsontableInput {
  background-color: #111 !important;
}
.dark .handsontable th, .dark .handsontable td {
  border-bottom: 1px solid #5C5B6C;
  border-right: 1px solid #5C5B6C;
}
/* Graph lines */
.dark .link {
  stroke: rgb(126, 126, 126);
  opacity: 0.5;
}
/* Preview mode */
.preview .editor-only {
  display: none;
}
.preview .message-bar {
  padding-left: 65px;
}
.preview .tool-bar {
  width: 55px;
  padding: 0;
}
.preview .content {
  width: 100%;
  margin: auto;
  padding-left: 0;
  padding-right: 0;
}
.preview .content .parameters {
  padding-left: 0;
}
.preview .wl {
  position: relative;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.content .chips {
  display: none
}

@media only screen and (max-width: 1000px) {
  .content .chips {
    display: block;
  }
  .content .parameters {
    position: relative;
    width: 100%;
    top: initial;
    left: initial;
    height: auto;
    min-height: initial;
    overflow: auto;
    display:block;
    padding: 30px 20px;
  }
  .preview .parameters {
    padding: 30px 0;
  }
  .content .net {
    display: none;
  }
}

@media only screen and (max-width: 860px) {
  .mobile {
    display: initial;
  }
  .md-tooltip {
    display: none !important;
  }
  .desktop {
    display: none !important;
  }
  .tool-bar {
    width: 100%;
  }
  .side-bar {
    position: relative;
    width: 100%;
    top: 55px;
  }
  .content {
    padding-left: 0;
    padding-top: 55px;
  }
  .content .chart {
    width: 98%;
  }
  .model-summary {
    font-size: 11px;
    line-height: 3px;
    padding-right: 26px;
    flex: 1;
    padding-left: 10px;
  }
  /* Preview mode on mobile */
  .preview .content {
    padding-top: 0;
  }
  .preview .tool-bar {
    position: absolute;
  }
}

@media only screen and (min-width: 861px) and (max-width: 1200px) {
  .version {
    display: none;
  }
  .tool-bar, .side-bar {
    width: 33%;
  }
  .content {
    padding-left: 33%;
  }
}
