<v-app
  :class="{dark: theme === 'dark'}"
>
  <s-dialogs
    :dialogs="dialogs"
    @newProject="newProject"
    @removeModelConfirmed="removeModelConfirmed"
  ></s-dialogs>

  <s-menu
    :preview="preview"
    :flow="models && models.length > 0 && models[activeModel].flow"
    :dark="theme === 'dark'"
    @openDialog="openDialog"
    @openFile="openFile"
    @saveProject="saveProject"
    @removeModel="removeModel"
    @duplicateModel="duplicateModel"
    @toggleTheme="toggleTheme"
    @togglePreview="togglePreview"
    @toggleFlow="toggleFlow"
    :version="version"
  ></s-menu>

  <!--
    clipped-left
  -->
  <v-app-bar
    v-if="models && models.length > 0"
    location="top"
    app
    style="transition: none !important"
    :style="{'border-bottom': theme=='light' ? '1px solid #DDD' : '1px solid #333'}"
    density="compact"
    variant="outlined"
    :elevation="0"
  >
    <v-btn icon="mdi-menu" class="d-none d-md-flex"
      @click="preview=!preview"
      ></v-btn>
      <!-- v-if="preview" -->

    <!--
      v-model in v-tabs updates modelId before
      switchModel is called, so we loose current model
      use v-bind:model-value instead
      https://vuetifyjs.com/en/api/v-tabs/#events-update:modelValue
    -->
    <v-tabs
      :model-value="activeModel"
      center-active
      density="compact"
    >
      <v-tab
        v-for="(model, modelId) in models"
        :value="modelId"
        :key="modelId"
        @click="switchModel(modelId)"
      >
        {{ model.modelParams.name }}
      </v-tab>
      <!-- <v-tab>Data</v-tab> -->
    </v-tabs>

    <v-menu>
      <template v-slot:activator="{ props }">
        <v-btn
          id="btn-add-model"
          v-bind="props"
          style="margin-left: 5px;"
        >
          <v-icon>mdi-plus</v-icon>
          <small class="d-none d-md-inline-block"> Add model </small>
        </v-btn>
      </template>
      <v-list>
        <v-list-item
          id="menu-add-model"
          @click="createModel"
          key="0"
        >
          <v-list-item-title>
            <v-icon size="x-small" color="#DDD">mdi-plus</v-icon> Model
          </v-list-item-title>
        </v-list-item>
        <v-list-item
          id="menu-add-dataframe"
          @click="createDataframe"
          key="1"
        >
          <v-list-item-title>
            <v-icon size="x-small" color="#DDD">mdi-plus</v-icon> Data
          </v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>

    <!-- <v-btn
      @click="createModel"
      icon="mdi-plus"
    ></v-btn> -->

    <v-spacer></v-spacer>

    <v-btn
      id="btn-flow"
      class="d-none d-sm-flex"
      @click="toggleFlow(models[activeModel])"
    >
      <v-icon style="transform: rotate(90deg);">
        {{ models[activeModel].modelParams.type === 'flow' ? 'mdi-view-column-outline' : 'mdi-source-fork' }}
      </v-icon>
      <small class="d-none d-md-inline-block">
        {{ models[activeModel].modelParams.type === 'flow' ? 'Toggle blocks' : 'Toggle flow' }}
      </small>
    </v-btn>
    <v-menu>
      <template v-slot:activator="{ props }">
        <!-- <v-btn
          class="d-none d-md-flex"
          v-bind="props"
          icon="mdi-code-json"
        ></v-btn> -->
        <v-btn
          class="d-none d-sm-flex"
          v-bind="props"
        >
          <v-icon>mdi-code-json</v-icon>
          <small class="d-none d-md-inline-block"> Code </small>
        </v-btn>
      </template>
      <v-list>
        <v-list-item
          id="menu-code-wppl"
          @click="generateWebPPL"
          key="0"
        >
          <v-list-item-title>
            <v-icon size="x-small" color="#DDD">mdi-plus</v-icon> WebPPL
          </v-list-item-title>
        </v-list-item>
        <v-list-item
          id="menu-code-z3"
          @click="generateZ3"
          key="1"
        >
          <v-list-item-title>
            <v-icon size="x-small" color="#DDD">mdi-plus</v-icon> Z3
          </v-list-item-title>
        </v-list-item>
        <v-list-item
          id="menu-code-pymc3"
          @click="generatePYMC3"
          key="2"
        >
          <v-list-item-title>
            <v-icon size="x-small" color="#DDD">mdi-plus</v-icon> PyMC3
          </v-list-item-title>
        </v-list-item>
        <v-list-item
          id="menu-code-pymc3"
          @click="generateJSON"
          key="3"
        >
          <v-list-item-title>
            <v-icon size="x-small" color="#DDD">mdi-plus</v-icon> JSON
          </v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
    <v-btn
      @click="generateLink"
    >
      <v-icon>mdi-link</v-icon>
      <small class="d-none d-md-inline-block"> Link </small>
    </v-btn>
  </v-app-bar>


  <v-app-bar
    v-if="models && models.length > 0"
    location="bottom"
    fixed
    style="transition: none !important"
    :style="{'border-top': theme=='light' ? '1px solid #DDD' : '1px solid #333'}"
    density="compact"
    :elevation="0"
  >

    <!-- Minimize/Maximize all blocks in the sidebar -->
    <div
      v-if="!preview"
      style="border-right: 1px solid #80808030; margin-right: 10px; text-align: center;"
      :style="{'width': sidebarWidth + 'px'}"
    >
      <v-btn
        v-if="!preview"
        @click="minimizeAllBlocks"
        density="compact"
      >
        <v-icon>mdi-arrow-collapse-vertical</v-icon>
        <small
          v-if="sidebarWidth > 275"
          class="d-none d-sm-inline-block"
        > Collapse all </small>
      </v-btn>
      <v-btn
        v-if="!preview"
        @click="maximizeAllBlocks"
        density="compact"
      >
        <v-icon>mdi-arrow-expand-vertical</v-icon>
        <small
          v-if="sidebarWidth > 275"
          class="d-none d-sm-inline-block"
        > Expand all </small>
      </v-btn>
    </div>

    <v-spacer></v-spacer>

    <!-- Visible only on screens larger than small -->
    <v-select
      v-model="models[activeModel].modelParams.method"
      :items="Object.keys(simulationMethods)"
      :rules="[v => !!v || 'Item is required']"
      class="d-none d-sm-block"
      style="max-width: 350px; margin-right: 10px;"
      density="compact"
      label="Inference method"
      hide-details
      required
    ></v-select>

    <template v-slot:append>
        <!-- <v-btn
          prepend-icon="mdi-cog"
          variant="outlined"
          @click="toggleRightSidenav"
        >
          Settings
        </v-btn> -->
        <v-btn
          id="btn-run"
          variant="outlined"
          @click="run"
        >
          <v-icon left>mdi-play</v-icon>
          <span
            class="d-none d-sm-inline-block"
          >
            Run
          </span>
        </v-btn>
    </template>

    <v-progress-linear
      :active="loading"
      :indeterminate="loading"
      :height="2"
      color="black"
      absolute
      bottom
    ></v-progress-linear>

  </v-app-bar>


  <!--
    Sidebar is used to design models
    `v-if` is used to show sidebar only when models are loaded/initiated
    `ref` is used to trigger sidebar methods from parent component
  -->
  <s-sidebar
    :models="models"
    :active-model="activeModel"
    v-model:sidebar-width="sidebarWidth"
    ref="sidebar"
    @toggleSidebar="preview=!preview"
    @minimizeAllBlocks="minimizeAllBlocks"
    @maximizeAllBlocks="maximizeAllBlocks"
    v-if="models && models.length > 0 && !preview"
  ></s-sidebar>

  <v-main class="content" style="transition: none !important" v-if="models && models.length">

    <!-- Generated links and code -->
    <div class="links wl" v-if="link.length">
      <div class="control-buttons">
        <v-btn @click="downloadCode" variant="text" size="x-small">
          <v-icon left>mdi-content-save</v-icon>
          <span class="desktop">Download</span>
        </v-btn>
        <v-btn @click="copyCode" variant="text" size="x-small">
          <v-icon left>mdi-clipboard-text</v-icon>
          <span class="desktop">Copy to clipboard</span>
        </v-btn>
        <v-btn @click="link = ''" variant="text" size="x-small">
          <v-icon left>mdi-close</v-icon>
          <span class="desktop">Close</span>
        </v-btn>
      </div>
      <pre id="link">{{ link }}</pre>
    </div>

    <!-- TABLE -->
    <div id="table-container" class="tables wl" v-if="models.length && models[activeModel].modelParams.table">
      <!--<div class="control-buttons" v-if="false && !(models[activeModel].modelParams.type && (models[activeModel].modelParams.type === 'dataframe'))">-->
      <div class="control-buttons" v-if="!preview">
        <v-btn
          @click="renderDataTable"
          density="compact"
        >
          <v-icon>mdi-refresh</v-icon>
          <small> Reload </small>
        </v-btn>
        <v-btn
          @click="disableDataTable"
          density="compact"
        >
          <v-icon>mdi-close</v-icon>
          <small> Close </small>
        </v-btn>
      </div>
      <div class="table-wrapper"></div>
      <div id="table-gradient" class="table-gradient" v-if="models[activeModel].preview">
        <h4>Preloaded data</h4>
        <p>Only 50 rows loaded. Click "Load" to read all data from the file</p>
      </div>
    </div>

    <div v-if="!(models[activeModel].modelParams.type && (['dataframe', 'flow'].includes(models[activeModel].modelParams.type)))" style="position: relative" class="graph-container">
      <div class="wl">
        <s-network
          class="net"
          ref="network"
          :models="models"
          :active-model="activeModel"
          @selectNode="selectNode"
        ></s-network>
        <s-inputs
          :blocks="models[activeModel].blocks"
          :models="models"
          :active-model="activeModel"
        ></s-inputs>
      </div>
    </div>


    <!-- Flow -->
    <!-- <v-btn
      @click="console.log(baklava.editor.save())"
    >
      Save
    </v-btn> -->
    <!-- <s-flow></s-flow> -->
    <div
      v-if="baklava && models[activeModel].modelParams.type === 'flow'"
      class="flow"
      style="width: 100%; height: 800px"
    >
      <baklava-editor
        :view-model="baklava"
      ></baklava-editor>
    </div>

    <!--
      <pre style="font-size: 9px; line-height: 9px;">{{ JSON.stringify(models, null, 2) }}</pre>
    -->

    <!-- Computation running indicator -->
    <div id="loader"></div>

    <!-- Active model has all output blocks with the expected classNames -->
    <!-- Now we can switch .output.active with visible: visi -->
    <div
      v-for="(model, modelIndex) in models"
      :key="modelIndex"
    >
      <div
        :class="{ output: true, hidden: activeModel != modelIndex }"
      >
        <div :class="{ wl: true, 'charts': activeModel === modelIndex }"></div>
        <div :class="{ wl: true, 'charts-2d': activeModel === modelIndex }"></div>
        <div :class="{ wl: true, 'charts-extra': activeModel === modelIndex }"></div>
        <div :class="{ wl: true, 'archives': activeModel === modelIndex }"></div>
      </div>
    </div>

<!--
        <div class="charts wl"></div>
        <div class="charts-2d wl"></div>
        <div class="charts-extra wl"></div>
        <div class="archives wl"></div>

-->
  </v-main>

  <!-- Notifications -->
  <v-snackbar v-model="notificationFlag">
    {{ notificationText }}
    <template v-slot:actions>
      <v-btn
        color="pink"
        variant="text"
        @click="notificationFlag = false"
      >
        Close
      </v-btn>
    </template>
  </v-snackbar>

  <!-- Fake file inputs-->
  <input
    type="file"
    accept=".csv, .tsv, .txt"
    id="openDataFile"
    v-on:change="openDataFile"
    style="display: none;"
  />
  <input
    type="file"
    accept=".json, .ssp"
    id="openProjectFile"
    v-on:change="openProjectFile"
    style="display: none;"
  />


</v-app>