/* Global styles */
.md-input-container {
  margin: 5px 0 15px 0;
}

.md-toolbar.md-dense {
  min-height: 55px;
}

.version {
  font-size: 10px;
}

.hidden {
  display: none;
}

.logo {
  font-weight: bold !important;
}

.logo-icon {
  font-weight: normal;
  width: 15px;
  text-align: right;
  font-size: 16px;
  margin-right: 6px;
}

.tool-bar {
  z-index: 2;
  position: fixed;
  top: 0;
  width: 27%;
  left: 0;
  background-color: #000832 !important;
}

.side-bar {
  position: fixed;
  padding: 5px;
  top: 47px;
  left: 0;
  bottom: 55px;
  overflow-y: scroll;
  background-color: #DDD;
  width: 27%;
}

.side-bar .block {
  margin: 10px;
}

.md-card .md-card-content:last-child {
  padding-bottom: 3px;
}


/* Random variable */
.side-bar .block-0 {
  border-top: 4px solid #fab85a;
}

/* Expression */
.side-bar .block-1 {
  border-top: 4px solid #0097cc;
}

/* Data */
.side-bar .block-2 {
  border-top: 4px solid #84c161;
}

/* Accumulator */
.side-bar .block-3 {
  border-top: 4px solid #c44a78;
}

/* Observer */
.side-bar .block-4 {
  border-top: 4px solid #3a3bb6;
}

/* Condition */
.side-bar .block-5 {
  border-top: 4px solid #000f64;
}

.side-bar .block-name {
  width: 100%;
  padding-left: 10px;
  padding-top: 7px;
  font-size: 20px;
}
.side-bar .block-type {
  font-size: 11px;
  line-height: 0px;
  color: #888;
  font-weight: bold;
}

.content {
  padding-left: 27%;
  padding-bottom: 100px;
}

.content pre {
  overflow-x: auto;
  margin: 20px;
  padding: 10px;
  background-color: #EEE;
  border: 1px solid #CCC;
}


.content .net {
  background-color: #F2F2F2;
}

.content #m-end{
  fill: rgba(200, 200, 200, 0.8);
}

.content .charts, .content .charts-2d {
  margin: 20px;
  display: flex;
  justify-content: left;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
}

.content .chart, .content .chart-2d {
  border: 1px solid #EEE;
  margin: 0 1% 1% 0;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.content .chart {
  width: 48%;
  height: 300px;
}

.content .dygraph-legend {
  top: 0 !important;
  right: 0 !important;
  left: inherit !important;
  position: absolute;
}

.content .chart-heavy .dygraph-legend > span {
  display: none;
}

.content .chart-heavy .dygraph-legend > span.highlight {
  display: inline;
}

.content .chart h1 {
  text-align: center;
  font-size: 61px;
  font-weight: 200;
  color: #1a6fef;
  margin: 15px;
}

.content .chart p {
  text-align: center;
  font-weight: bold;
}

.progress {
  position: fixed;
  bottom: 56px;
  left: 0;
  right: 0;
}

#loader {
  position: fixed;
  top: 45%;
  width: 100%;
  text-align: center;
  z-index: 200;
}

#loader span {
  background-color: rgba(240, 240, 240, 0.4)
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  z-index: 2;
}

.bottom-bar .simulation-param {
  max-width: 200px;
  margin-right: 20px;
}

.param-bar {
  display: none;
}

.param-bar.md-active {
  display: initial;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.simulation-method-container .md-select-value {
  font-weight: bold;
}

.mobile {
  display: none;
}

/* 2D Plots */
tile {
  shape-rendering: crispEdges;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.plot {
  text-align: center;
}
.plot > canvas {
  margin: 0 !important;
  z-index: 2;
  image-rendering: optimizeSpeed;             /* Older versions of FF          */
  image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast; /* Safari                        */
  image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated;                 /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}


@media only screen and (max-width: 860px) {
  .mobile {
    display: initial;
  }
  .desktop {
    display: none;
  }
  .tool-bar {
    width: 100%;
  }
  .side-bar {
    position: relative;
    width: 100%;
    top: 110px;
  }
  .content {
    padding-left: 0;
    padding-top: 110px;
  }
  .content .message-bar {
    position: absolute;
    top: 55px;
    width: 100%;
  }
  .content .chart {
    width: 98%;
  }
  .summary {
    font-size: 11px;
    line-height: 3px;
    padding-right: 26px;
    flex: 1;
    padding-left: 10px;
  }
}
