<div :class="{dark: theme === 'dark', preview}">
  <!-- Confirm model removal-->
  <md-dialog-confirm
    md-title="Remove model?"
    md-content-html="To delete current model with all its elements select <b>REMOVE</b><br>To cancel click anywhere outside of this white block or choose CANCEL"
    md-ok-text="Remove"
    md-cancel-text="Cancel"
    @close="removeModel"
    ref="remove-dialog">
  </md-dialog-confirm>

  <div class="icons" v-if="chooseIconForBlock >= 0">
    <div style="text-align: right;">
      <md-button class="md-icon-button" v-on:click.native="chooseIconForBlock = -1">
        <md-icon>close</md-icon>
      </md-button>
    </div>
    <md-button v-for="(icon, iconKey) in icons" v-on:click.native="chooseIcon(icon)" class="md-icon-button">
      <md-icon>{{ iconKey }}</md-icon>
    </md-button>
  </div>

  <md-toolbar class="tool-bar md-dense">
    <input type="file" accept=".csv, .tsv, .txt" id="openDataFile" v-on:change="openDataFile" style="display: none;" />
    <input type="file" accept=".json, .ssp" id="openProjectFile" v-on:change="openProjectFile" style="display: none;" />
    <md-menu md-align-trigger md-size="4" class="hamburger">
      <md-button md-menu-trigger class="md-icon-button">
        <md-icon>menu</md-icon>
      </md-button>
      <md-menu-content>
        <md-menu-item v-on:selected="newProject">
          <md-icon style="">insert_drive_file</md-icon>
          <span>New project</span>
        </md-menu-item>
        <md-menu-item v-on:selected="openFile('Project')">
        <md-icon style="">unarchive</md-icon>
          <span>Open project</span>
        </md-menu-item>
        <md-menu-item v-on:selected="saveProject">
          <md-icon style="">archive</md-icon>
          <span>Save project</span>
        </md-menu-item>
        <md-menu-item v-on:selected="openFile('Data')" style="border-bottom: 1px solid #DDD">
          <md-icon style="">border_outer</md-icon>
          <span>Import data</span>
        </md-menu-item>
        <md-menu-item v-if="!preview" v-on:selected="preview = true; showDataTable = false">
          <md-icon style="">visibility</md-icon>
          <span>Preview mode</span>
        </md-menu-item>
        <md-menu-item v-else="preview" v-on:selected="preview = false">
          <md-icon style="">edit</md-icon>
          <span>Editor mode</span>
        </md-menu-item>        <md-menu-item v-if="theme === 'dark'" v-on:selected="setTheme('light')">
          <md-icon style="">brightness_5</md-icon>
          <span>Light theme</span>
        </md-menu-item>
        <md-menu-item v-else="theme === 'light'" v-on:selected="setTheme('dark')">
          <md-icon style="">brightness_2</md-icon>
          <span>Dark theme</span>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
    <!-- <p class="logo-icon">{{ icon }}</p> -->
    <h2 class="md-title logo editor-only" style="flex: 1"> StatSim <sup class="version">0.11.0a</sup></h2>
    <md-menu md-align-trigger md-size="4" md-direction="bottom left" class="editor-only">
      <md-button class="md-raised md-primary add-block-button" md-menu-trigger>
        <md-icon>add</md-icon>
        Add Block
        <md-tooltip md-direction="bottom">Add new element to the model</md-tooltip>
      </md-button>
      <md-menu-content>
        <md-menu-item v-on:click.native="addBlock(2)">
          <md-icon :style="'color: ' + colors[2]">view_headline</md-icon>
          <span>Data (Input)</span>
        </md-menu-item>
        <md-menu-item v-on:click.native="addBlock(0)">
          <md-icon :style="'color: ' + colors[0]">graphic_eq</md-icon>
          <span>Random Variable</span>
        </md-menu-item>
        <md-menu-item v-on:click.native="addBlock(1)">
          <md-icon :style="'color: ' + colors[1]">functions</md-icon>
          <span>Expression</span>
        </md-menu-item>
        <md-menu-item v-on:click.native="addBlock(7)">
          <md-icon :style="'color: ' + colors[7]">show_chart</md-icon>
          <span>Function</span>
        </md-menu-item>
        <md-menu-item v-on:click.native="addBlock(3)">
          <md-icon :style="'color: ' + colors[3]">exposure_plus_1</md-icon>
          <span>Accumulator</span>
        </md-menu-item>
        <md-menu-item v-on:click.native="addBlock(6)">
          <md-icon :style="'color: ' + colors[6]">apps</md-icon>
          <span>Neural Net</span>
        </md-menu-item>
        <md-menu-item disabled>
          <small>Inference operators:</small>
        </md-menu-item>
        <md-menu-item v-on:click.native="addBlock(4)">
          <md-icon :style="'color: ' + colors[4]">visibility</md-icon>
          <span>Observer</span>
        </md-menu-item>
        <md-menu-item v-on:click.native="addBlock(5)">
          <md-icon :style="'color: ' + colors[5]">done_all</md-icon>
          <span>Condition</span>
        </md-menu-item>
        <!--
        <md-menu-item v-on:click.native="addBlock(6)">
          <md-icon :style="'color: ' + colors[5]">offline_bolt</md-icon>
          <span>Factor</span>
        </md-menu-item>
        -->
      </md-menu-content>
    </md-menu>


  </md-toolbar>
  <div id="side-bar" v-if="models && models.length" class="side-bar editor-only">
    <!-- MODELS -->
    <div class="model-selector">
      <md-button
        v-for="(model, modelId) in models"
        :class="{'md-dense': true, 'md-raised': (modelId === activeModel)}"
        v-on:click.native="switchModel(modelId)"
      >{{ model.modelParams.name }}
      </md-button>
      <md-menu md-align-trigger md-size="4" md-direction="bottom left" style="float: right">
        <md-button md-menu-trigger class="md-icon-button md-dense">
          <md-icon style="opacity: 0.3">more_horiz</md-icon>
        </md-button>
        <md-menu-content>
          <md-menu-item v-on:selected="createModel()">
            <md-icon>add</md-icon>
            <span>Add new model</span>
          </md-menu-item>
        </md-menu-content>
      </md-menu>

    </div>
    <!-- MODEL INFO -->
    <div style="padding: 10px;">
      <md-input-container md-clearable>
        <label>Model name</label>
        <md-input
          v-model="models[activeModel].modelParams.name"
        ></md-input>
      </md-input-container>
      <div>
        <textarea v-model="models[activeModel].modelParams.description" placeholder="Description..." rows="5"></textarea>
      </div>
      <div style="margin: 10px 0" v-if="models.length > 1">
        <label for="include">Include </label><br>
        <select
          name="include"
          id="include"
          v-model="models[activeModel].modelParams.include"
          multiple
          style="width:100%"
        >
          <option
            v-for="(m, mi) in models"
            v-if="mi !== activeModel"
            :value="mi"
            :key="mi"
          >{{ m.modelParams.name }}
          </option>
        </select>
      </div>
    </div>
    <div style="text-align: center; opacity: 0.4" v-if="models[activeModel].blocks.length">
      <md-button class="md-dense" @click="minimizeAllBlocks">
        <md-icon>remove</md-icon>
        Minimize
      </md-button>
      <md-button class="md-dense" @click="maximizeAllBlocks">
        <md-icon>fullscreen</md-icon>
        Maximize
      </md-button>
    </div>
    <!-- Add drag and drop -->
    <div
      class="block-container"
      v-for="(model, modelIndex) in models"
      :style="'display:' + ((modelIndex === activeModel) ? 'block' : 'none')"
    >
    <draggable
      v-model="model.blocks" :options="{handle: '.block-header'}"
    >
    <transition-group name="block-list">
    <!-- BLOCKS -->
    <md-card
      v-for="(block, blockIndex) in model.blocks"
      :key="block.id"
      :id="'block-id-' + modelIndex + '-' + blockIndex"
      :class="['block', 'block-' + block.typeCode, block.minimized ? 'block-minimized' : 'block-full']"
      :style="block.color ? 'border-top-color:' + block.color : ''"
    >
   <!-- Block actions bar-->
      <md-card-actions :class="'block-header block-header-' + block.typeCode">
        <div class="block-name">
          <strong>{{ block.name }}</strong>
          <p class="block-type">{{ block.type }}</p>
            <!--
            <span v-if="block.minimized && block.value && block.value.length" style="font-weight:400">: {{ block.value.slice(0,15) }}...</span>
            <span v-if="block.minimized && block.distribution" style="font-weight:400">: {{ block.distribution }}...</span>
            -->
        </div>
        <md-button class="md-icon-button" v-if="block.minimized" v-on:click.native="toggle(blockIndex)">
          <md-icon>fullscreen</md-icon>
          <md-tooltip md-direction="bottom">Maximize</md-tooltip>
        </md-button>
        <md-button class="md-icon-button" v-if="!block.minimized" v-on:click.native="toggle(blockIndex)">
          <md-icon>remove</md-icon>
          <md-tooltip md-direction="bottom">Minimize</md-tooltip>
        </md-button>
        <md-button class="md-icon-button" v-on:click.native="moveBlockUp(blockIndex)">
          <md-icon>expand_less</md-icon>
          <md-tooltip md-direction="bottom">Move up</md-tooltip>
        </md-button>
        <md-button class="md-icon-button" v-on:click.native="moveBlockDown(blockIndex)">
          <md-icon>expand_more</md-icon>
          <md-tooltip md-direction="bottom">Move down</md-tooltip>
        </md-button>
        <md-menu md-align-trigger md-size="4" md-direction="bottom left" style="margin-right: 10px;">
          <md-button md-menu-trigger class="md-icon-button md-dense">
            <md-icon>more_horiz</md-icon>
          </md-button>
          <md-menu-content>
            <md-menu-item v-on:selected="chooseIconForBlock = blockIndex" class="desktop">
              <md-icon>toys</md-icon>
              <span>Choose icon</span>
            </md-menu-item>
            <md-menu-item v-on:selected="moveBlockToTop(blockIndex)">
              <md-icon>keyboard_capslock</md-icon>
              <span>Move to top</span>
            </md-menu-item>
            <md-menu-item v-on:selected="cloneBlock(blockIndex)">
              <md-icon>flip_to_front</md-icon>
              <span>Clone block</span>
            </md-menu-item>
            <md-menu-item v-on:selected="removeBlock(blockIndex)">
              <md-icon>delete</md-icon>
              <span>Delete block</span>
            </md-menu-item>
          </md-menu-content>
        </md-menu>


      </md-card-actions>

      <!-- Random Variable -->
      <md-card-content v-if="(block.typeCode === 0) && !block.minimized">
        <md-input-container md-clearable>
          <label>Name</label>
          <md-input
            :value="block.name"
            @blur="set(block, 'name', $event)"
          ></md-input>
        </md-input-container>
        <md-input-container md-clearable>
          <label>Size / Dimensions</label>
          <md-input
            v-model="block.dims"
          ></md-input>
        </md-input-container>
        <md-whiteframe
          md-elevation="11"
          style="padding: 15px; margin: 5px 0 15px"
        >
          <md-input-container>
            <label for="distributionType">Distribution type:</label>
            <!-- @change: reset distribution paramaters when distribution changed -->
            <md-select
              name="distributionType"
              id="distributionType"
              v-model="block.distribution"
            >
              <md-option
                v-for="(params, distributionType) in distributions"
                v-if="distributionType !== models[activeModel].modelParams.name" 
                :value="distributionType"
                @selected="block.params = {}"
              >{{ distributionType }}</md-option>
            </md-select>
          </md-input-container>
          <md-input-container
            v-if="block.distribution.length" 
            v-for="(paramOptions, param) in distributions[block.distribution]"
            md-clearable
          >
            <label>{{ param }}</label>
            <md-input
              v-model="block.params[param]"
            ></md-input>
          </md-input-container>
        </md-whiteframe>

        <!-- Units -->
        <md-input-container>
         <label>Units</label>
          <md-autocomplete
            v-model="block.units"
            :list="units"
            :filter-list="unitsFilter"
            :min-chars="0"
            print-attribute="name"
          ></md-autocomplete>
        </md-input-container>

        <!-- Sample once per cycle-->
        <md-checkbox
          :disabled="(models[activeModel].modelParams.steps > 1.5) && !block.once"
          v-model="block.show"
          class="md-primary"
        >
          Show in output
        </md-checkbox>
        <md-checkbox
          v-model="block.once"
          :disabled="models[activeModel].modelParams.steps < 1.5"
          class="md-primary"
        >
          Sampled once
        </md-checkbox>
        <!-- <pre>{{ block }}</pre> -->
      </md-card-content>

      <!-- Expression -->
      <md-card-content v-if="(block.typeCode === 1) && !block.minimized">
        <md-input-container md-clearable>
          <label>Name</label>
          <md-input
            :value="block.name"
            @blur="set(block, 'name', $event)"
          ></md-input>
        </md-input-container>

        <!-- Expression type selector -->
        <md-whiteframe
          md-elevation="11"
          style="padding: 15px; margin: 5px 0 15px"
        >
          <md-input-container>
            <label for="expressionType">Expression type:</label>
            <!-- @change: reset distribution paramaters when distribution changed -->
            <md-select
              name="expressionType"
              id="expressionType"
              v-model="block.expressionType"
            >
              <md-option
                v-for="(params, expressionType) in expressions"
                :value="expressionType"
                @selected="block.params = {}"
              >{{ expressionType }}</md-option>
            </md-select>
          </md-input-container>

          <!--
            Use block.params to store values when special expression type is provided.
          -->
          <md-input-container
            v-if="block.expressionType.length && (block.expressionType !== 'Custom')" 
            v-for="param in expressions[block.expressionType]"
            md-clearable
          >
            <label style="text-transform: capitalize">{{ param }}</label>
            <md-input
              v-model="block.params[param]"
            ></md-input>
          </md-input-container>

          <!--
            Keep old expression working.
            Use block.value when Custom or type is not provided.
          -->
          <md-input-container v-if="(!block.expressionType) || (block.expressionType === 'Custom')">
            <label>Value</label>
            <md-input
              :value="block.value"
              @blur="set(block, 'value', $event)"
              :id="'input-' + blockIndex"
            ></md-input>
          </md-input-container>
        </md-whiteframe>

        <!--
          Expression helpers
          Disable temporary
        <md-tabs class="md-transparent">
          <md-tab md-label="Base">
            <md-button
              v-for="b, bi in models[activeModel].blocks"
              v-if="([0, 1, 2].indexOf(b.typeCode) >= 0) && (bi !== blockIndex)"
              @click.native="addExpression(b.name, blockIndex, 1)"
            >{{ b.name }}</md-button>
            <hr>
            <md-button
              v-for="n in [0,1,2,3,4,5,6,7,8,9]"
              @click.native="addExpression(n + '', blockIndex, 0)"
            >{{ n }}</md-button>
            <md-button @click.native="addExpression('.', blockIndex, 0)">.</md-button>
          </md-tab>
          <md-tab md-label="Math">
            <md-button @click.native="addExpression('+', blockIndex, 0)">+</md-button>
            <md-button @click.native="addExpression('-', blockIndex, 0)">-</md-button>
            <md-button @click.native="addExpression('*', blockIndex, 0)">*</md-button>
            <md-button @click.native="addExpression('/', blockIndex, 0)">/</md-button>
            <md-button @click.native="addExpression('Math.sqrt()', blockIndex, -1)">x<sup>2</sup></md-button>
            <md-button @click.native="addExpression('Math.pow(,)', blockIndex, -2)">x<sup>y</sup></md-button>
            <md-button @click.native="addExpression('Math.PI', blockIndex, 1)">&#960;</md-button>
            <md-button @click.native="addExpression('Math.E', blockIndex, 1)">e</md-button>
          </md-tab>
          <md-tab md-label="Arrays">
            <md-button @click.native="addExpression('sum()', blockIndex, -1)">sum</md-button>
            <md-button @click.native="addExpression('product()', blockIndex, -1)">product</md-button>
            <md-button @click.native="addExpression('listMean()', blockIndex, -1)">mean</md-button>
            <md-button @click.native="addExpression('listVar()', blockIndex, -1)">var</md-button>
            <md-button @click.native="addExpression('listStdev()', blockIndex, -1)">std</md-button>
            <md-button @click.native="addExpression('all()', blockIndex, -1)">all</md-button>
            <md-button @click.native="addExpression('any()', blockIndex, -1)">any</md-button>
            <md-button @click.native="addExpression('filter(function(x) {},)', blockIndex, -2)">filter</md-button>
            <md-button @click.native="addExpression('find(function(x) {},)', blockIndex, -2)">find</md-button>
            <md-button @click.native="addExpression('remove(,)', blockIndex, -2)">remove</md-button>
            <md-button @click.native="addExpression('sort()', blockIndex, -1)">sort</md-button>
            <md-button @click.native="addExpression('map(function(x) {},)', blockIndex, -2)">map</md-button>
            <md-button @click.native="addExpression('map2(function(x,y) {},,)', blockIndex, -3)">map2</md-button>
            <md-button @click.native="addExpression('mapN(function(x) {},)', blockIndex, -3)">mapN</md-button>
            <md-button @click.native="addExpression('reduce(function(x, acc) {},,)', blockIndex, -3)">reduce</md-button>
          </md-tab>
          <md-tab md-label="Tensors">
            <md-button @click.native="addExpression('T.sumreduce()', blockIndex, -1)">sum</md-button>
            <md-button @click.native="addExpression('T.get(,)', blockIndex, -2)">get</md-button>
            <md-button @click.native="addExpression('T.toScalars()', blockIndex, -1)">toScalars</md-button>
            <md-button @click.native="addExpression('T.fromScalars()', blockIndex, -1)">fromScalars</md-button>
            <md-button @click.native="addExpression('T.transpose()', blockIndex, -1)">transpose</md-button>
            <md-button @click.native="addExpression('T.diagonal()', blockIndex, -1)">diagonal</md-button>
            <md-button @click.native="addExpression('T.inverse()', blockIndex, -1)">inverse</md-button>
            <md-button @click.native="addExpression('T.determinant()', blockIndex, -1)">determinant</md-button>
            <md-button @click.native="addExpression('T.dot(,)', blockIndex, -2)">dot</md-button>
            <md-button @click.native="addExpression('T.cholesky()', blockIndex, -1)">cholesky</md-button>
          </md-tab>
        </md-tabs>
        -->
	<!-- *Expression helpers -->

        <!-- Units -->
        <div class="data-input">
          <md-input-container>
           <label>Units</label>
            <md-autocomplete
              v-model="block.units"
              :list="units"
              :filter-list="unitsFilter"
              :min-chars="0"
              print-attribute="name"
            ></md-autocomplete>
            <md-button
              v-if="!block.expressionType || (block.expressionType === 'Custom')"
              class="md-icon-button md-dense"
              @click.native="guessUnits(block.value, blockIndex)"
            >
              <md-icon>loop</md-icon>
              <md-tooltip md-direction="bottom">Guess units</md-tooltip>
            </md-button>
          </md-input-container>
        </div>

        <md-checkbox
          v-model="block.show"
          class="md-primary"
        >
          Show in output
        </md-checkbox>
        <md-checkbox 
          v-model="block.history"
          class="md-primary"
          :disabled="models[activeModel].modelParams.steps < 1.5"
        >
          Track history
        </md-checkbox>

      </md-card-content>

      <!-- Data -->
      <md-card-content v-if="(block.typeCode === 2) && !block.minimized">
        <md-input-container md-clearable>
          <label>Name</label>
          <md-input
            :value="block.name"
            @blur="set(block, 'name', $event)"
          ></md-input>
        </md-input-container>
        <div class="data-input">
          <md-input-container>
            <label>Value(s)</label>
            <!-- If table is active, redraw it on blur -->
            <md-textarea 
              v-if="block.dataType !== 'boolean'"
              height="5"
              :value="block.value"
              @blur="set(block, 'value', $event), reactiveDataTable && showDataTable && drawDataTable()"
            ></md-textarea>
            <md-select
              v-else
              v-model="block.value"
            >
              <md-option value="true">True</md-option>
              <md-option value="false">False</md-option>
            </md-select>
          </md-input-container>
          <md-button
            class="md-icon-button md-dense"
            v-if="block.dataType !== 'boolean'"
            @click.native="showDataTable = true; drawDataTable()"
          >
            <md-icon>grid_on</md-icon>
            <md-tooltip md-direction="bottom">Table view</md-tooltip>
          </md-button>
        </div>

        <div style="display: flex">
          <!-- Units -->
          <md-input-container style="width: 95%; margin-right: 5%;">
            <label>Units</label>
            <md-autocomplete
              v-model="block.units"
              :list="units"
              :filter-list="unitsFilter"
              :min-chars="0"
              print-attribute="name"
            ></md-autocomplete>
          </md-input-container>
          <!-- Data type -->
          <md-input-container>
            <label for="dataType">Data type</label>
            <md-select
              name="dataType"
              id="dataType"
              v-model="block.dataType"
            >
              <md-option value="auto">Auto (default)</md-option>
              <md-option value="boolean">Boolean</md-option>
              <md-option value="integer">Integer</md-option>
              <md-option value="float">Float</md-option>
              <md-option value="string">String</md-option>
              <md-option value="category">Category</md-option>
              <md-option value="array">Array</md-option>
              <md-option value="vector">Vector</md-option>
              <md-option value="tensor">Tensor</md-option>
            </md-select>
          </md-input-container>
        </div>

        <!-- Tensor dimensions -->
        <md-input-container v-if="block.dataType === 'tensor'">
          <label>Tensor dimensions</label>
          <md-input v-model="block.dims"></md-input>
        </md-input-container>

        <!-- Categories -->
        <md-input-container v-if="block.dataType === 'category'">
          <label>Categories (comma-separated)</label>
          <md-input
            v-model="block.dataCategories"
          ></md-input>
        </md-input-container>


        <!-- Input? -->
        <md-checkbox
          v-model="block.useAsParameter"
          class="md-primary"
        >
          Use as model input
        </md-checkbox>

        <!-- Output? -->
        <md-checkbox
          v-model="block.show"
          class="md-primary"
        >
          Show in output
        </md-checkbox>

      </md-card-content>

      <!-- Function -->
      <md-card-content v-if="(block.typeCode === 7) && !block.minimized">
        <md-input-container md-clearable>
          <label>Name</label>
          <md-input
            :value="block.name"
            @blur="set(block, 'name', $event)"
          ></md-input>
        </md-input-container>
        <md-input-container md-clearable>
          <label v-if="block.tableFunction">X</label>
          <label v-else>Function parameters</label>
          <md-input
            :value="block.x"
            @blur="set(block, 'x', $event)"
          ></md-input>
        </md-input-container>
        <md-input-container md-clearable>
          <label v-if="block.tableFunction">Y</label>
          <label v-else>Return value</label>
          <md-input
            :value="block.y"
            @blur="set(block, 'y', $event)"
          ></md-input>
        </md-input-container>
        <div style="display: flex">
          <md-input-container style="width: 95%; margin-right: 5%;">
            <label>Min</label>
            <md-input
              :value="block.min"
              @blur="set(block, 'min', $event)"
            ></md-input>
          </md-input-container>
          <md-input-container>
            <label>Max</label>
            <md-input
              :value="block.max"
              @blur="set(block, 'max', $event)"
            ></md-input>
          </md-input-container>
        </div>
        <md-checkbox v-model="block.tableFunction" class="md-primary">
          Table function
        </md-checkbox>
      </md-card-content>

      <!-- Accumulator -->
      <md-card-content v-if="(block.typeCode === 3) && !block.minimized">
        <md-input-container md-clearable>
          <label>Name</label>
          <md-input
            :value="block.name"
            @blur="set(block, 'name', $event)"
          ></md-input>
        </md-input-container>
        <md-input-container>
          <label>Change value/expression</label>
          <md-autocomplete
            v-model="block.value"
            :list="models[activeModel].blocks"
            :filter-list="blockFilter"
            :min-chars="0"
            :debounce="300"
            print-attribute="name"
            required
          ></md-autocomplete>
        </md-input-container>
        <md-input-container>
          <label>Initial value</label>
          <md-autocomplete
            v-model="block.initialValue"
            :list="models[activeModel].blocks"
            :filter-list="blockFilter"
            :min-chars="0"
            :debounce="300"
            print-attribute="name"
            required
          ></md-autocomplete>
        </md-input-container>
        <div style="display: flex">
          <md-input-container style="width: 95%; margin-right: 5%;">
            <label>Min</label>
            <md-input
              :value="block.min"
              @blur="set(block, 'min', $event)"
            ></md-input>
          </md-input-container>
          <md-input-container>
            <label>Max</label>
            <md-input
              :value="block.max"
              @blur="set(block, 'max', $event)"
            ></md-input>
          </md-input-container>
        </div>

        <!-- Units -->
        <md-input-container>
         <label>Units</label>
          <md-autocomplete
            v-model="block.units"
            :list="units"
            :filter-list="unitsFilter"
            :min-chars="0"
            print-attribute="name"
          ></md-autocomplete>
        </md-input-container>

        <md-checkbox v-model="block.show" class="md-primary">
          Show in output
        </md-checkbox>
        <md-checkbox 
          v-model="block.history"
          class="md-primary"
          :disabled="models[activeModel].modelParams.steps < 1.5"
        >
          Track history
        </md-checkbox>

      </md-card-content>

      <!-- Neural net -->
      <md-card-content v-if="(block.typeCode === 6) && !block.minimized">
        <md-input-container md-clearable>
          <label>Network name</label>
          <md-input
            :value="block.name"
            @blur="set(block, 'name', $event)"
          ></md-input>
        </md-input-container>
        <md-checkbox 
          v-model="block.convert"
          class="md-primary"
        >
          Convert tensors
        </md-checkbox>
        <md-whiteframe
          md-elevation="11"
          style="margin: 5px 0 15px"
        >
          <div class="layer"
            v-for="layer, layerIndex in block.layers"
          >
            <md-input-container>
              <label for="layerType">Layer type:</label>
              <md-select
                name="layerType"
                v-model="layer.type"
              >
                <md-option
                  v-for="type in ['affine', 'sigmoid', 'tanh', 'relu', 'softplus', 'softmax']"
                  :value="type"
                >{{ type[0].toUpperCase() + type.slice(1) }}</md-option>
              </md-select>
            </md-input-container>
            <md-input-container v-if="layer.type === 'affine'" md-clearable>
              <label>Layer name</label>
              <md-input
                v-model="layer.name"
              ></md-input>
            </md-input-container>
            <div style="display: flex" v-if="layer.type === 'affine'">
              <md-input-container style="width:40%; margin-right: 1%;">
                <label>In</label>
                <md-input
                  v-model="layer.in"
                ></md-input>
              </md-input-container>
              <md-icon style="color: rgba(150,150,150,0.4); auto 5px auto 5px;">chevron_right</md-icon>
              <md-input-container style="width: 40%;">
                <label>Out</label>
                <md-input
                  v-model="layer.out"
                ></md-input>
              </md-input-container>
            </div>
            <div class="layer-control">
            <md-button class="md-dense" v-on:click.native="block.layers.splice(layerIndex, 1)">
              Remove
            </md-button>
            </div>
          </div> <!-- *layer -->

        <md-button class="md-dense" style="width: 94%; margin: 10px 3%;" v-on:click.native="addLayer(blockIndex)">
          <md-icon>library_add</md-icon>
          Add new layer
        </md-button>
        </md-whiteframe>

      </md-card-content>


      <!-- Observer -->
      <md-card-content v-if="(block.typeCode === 4) && !block.minimized">
        <md-input-container>
          <label>Observed data (scalar, vector or tensor)</label>
          <md-autocomplete
            v-model="block.value"
            :list="models[activeModel].blocks"
            :filter-list="blockFilter"
            :min-chars="0"
            :debounce="300"
            print-attribute="name"
            required
          ></md-autocomplete>
        </md-input-container>
        <md-whiteframe
          md-elevation="11"
          style="padding: 15px; margin: 5px 0 15px"
          v-if="block.value.length"
        >
          <md-input-container>
            <label for="distributionType">Distribution:</label>
            <md-select
              name="distributionType"
              id="distributionType"
              v-model="block.distribution"
            >
              <md-option
                v-for="(params, distributionType) in distributions"
                :value="distributionType"
                @selected="block.params = {}"
              >{{ distributionType }}</md-option>
            </md-select>
          </md-input-container>
          <md-input-container
            v-if="block.distribution.length" 
            v-for="(paramOptions, param) in distributions[block.distribution]"
            md-clearable
          >
            <label>{{ param }}</label>
            <md-input
              v-model="block.params[param]"
            ></md-input>
          </md-input-container>
          <p style="font-size: 12px; color: 999;">
            In case of vectors you can get index as <b>_j</b><br>
            Dimension-wise indexes for tensors are <b>_j0, _j1, ...</b><br>
            Values stored in <b>_v</b>
          </p>
        </md-whiteframe>
      </md-card-content>

      <!-- Condition -->
      <md-card-content v-if="(block.typeCode === 5) && !block.minimized">
        <md-input-container>
          <label>Proposition expression (boolean)</label>
          <md-input
            :value="block.value"
            @blur="set(block, 'value', $event)"
          ></md-input>
        </md-input-container>
      </md-card-content>

      <md-card-expand v-if="block.icon && block.icon.length" class="desktop">
        <md-card-actions>
          <md-button disabled>Icon settings</md-button>
          <span style="flex: 1"></span>
          <md-button class="md-icon-button" md-expand-trigger>
            <md-icon>keyboard_arrow_down</md-icon>
          </md-button>
        </md-card-actions>
        <md-card-content>
          <md-input-container>
            <label>Size</label>
            <md-input
              v-model.number="block.size"
              type="number"
            ></md-input>
          </md-input-container>

          <color-picker 
            :value="block.color"
            @input="block.color = $event.hex"
          />
        </md-card-content>
      </md-card-expand>

    </md-card>
    </transition-group>
    </draggable>
    </div>

    <!-- Model output -->
    <div class="block">
      <h3 v-if="models[activeModel].blocks.length > 0" style="margin: 35px 0 0 0">Model output:</h3>
      <md-checkbox v-for="block in models[activeModel].blocks" v-if="block.hasOwnProperty('show')" v-model="block.show" class="md-primary" style="width: 100%; margin: 10px 0 5px 0;">
        <strong>{{ block.name }}</strong> ({{ block.type }})
      </md-checkbox>
    </div>

    <!-- Empty model button -->
    <md-boards v-if="!models[activeModel].blocks.reduce((a, b) => b.show || a, false)":md-controls="true" :md-infinite="true" :md-swipeable="true" style="height: auto !important; margin-bottom: 10px;">
      <md-board id="slide1">
        <p><b><span style="border: 1px solid #5db53b; background-color: #5db53b; color: white; padding: 3px 4px;">&nbsp;Add blocks&nbsp;</span> to your model.</b> After you open StatSim or create a new model, add some elements (blocks) to it. There are multiple types of blocks. Data blocks can be constants or input parameters, expressions set relationships between elements, random variables describe stochastic values.</p>
      </md-board>
      <md-board id="slide2">
        <p><b>Update blocks.</b> Each block has its own parameters. They determine how the program evaluates a block and its future usage. Almost each block has the <i>Show in results</i> checkbox. It determines if the block is shown in the output.</p>
      </md-board>
      <md-board id="slide3">
        <p><b>Set simulation <span style="border: 1px solid white; background-color: white; color: black; padding: 3px 4px;">Settings</span>.</b> After you created and set all the blocks it's time to choose a simulation method. The simple rule is if you don't use random variables select <i>Deterministic</i>. For simulations choose <i>Rejection Sampling</i> or <i>MCMC</i>, for ML select <i>Optimization</i>. </p>
      </md-board>
      <md-board id="slide4">
        <p><b><span style="border: 1px solid #3f51b5; background-color: #3f51b5; color: white; padding: 3px 4px;">&nbsp;Run&nbsp;</span> your model</b> after saving it. If you don't use a server for simulations StatSim may become unresponsive and you may lose your data. In case everything went right you get some informative charts or scalar values as a result. Compile your model to binaries if you want to use it as a separate app.</p>
      </md-board>
    </md-boards>


    <div class="stat-seal" style="text-align: center;">
    <img src="images/s.png" style="width: 90px; height: auto; opacity: 0.35; margin: 15px 0px"></img>
    </div>
    <!-- Model control -->
    <md-button v-on:click.native="duplicateModel()">
      <md-icon>flip_to_front</md-icon>
      Clone model
    </md-button>
    <md-button v-on:click.native="openDialog('remove-dialog')" :disabled="(models.length <= 1)" class="md-accent">
      <md-icon>delete_outlined</md-icon>
      Remove
    </md-button>
  </div>

  <!-- CONTENT -->
  <div class="content">
    <md-toolbar :class="'message-bar md-dense' + (error.length ? ' md-accent' : ' md-transparent')">
      <h3 class="message" style="flex: 1">
        {{ (error.length) ? (error.includes('Error') ? error : 'Error: ' + error) : '' }}
        {{ (message.length && !error.length) ? message : '' }}
      </h3>
      <md-button disabled class="desktop">Generate: </md-button>
      <md-button class="desktop editor-only" v-on:click.native="generateWebPPL">
        WPPL
      </md-button>
      <md-button class="desktop editor-only" v-on:click.native="generatePYMC3">
        PYMC3
      </md-button>
      <!--
      <md-button class="desktop editor-only" v-on:click.native="generateTFP">
        TFP
      </md-button>
      -->
      <md-button class="desktop editor-only" v-on:click.native="generateJSON">
        JSON
      </md-button>
      <md-button v-on:click.native="generateLink">
        Link
      </md-button>
      <md-button
        class="md-icon-button md-raised editor-only"
        v-if="!showDataTable"
        @click.native="showDataTable = true; link = ''; drawDataTable()"
      >
        <md-icon>grid_on</md-icon>
      </md-button>
      <md-button
        class="md-icon-button md-raised editor-only"
        v-if="showDataTable"
        @click.native="showDataTable = false"
      >
        <md-icon>grid_off</md-icon>
      </md-button>

      <md-button class="md-icon-button md-raised editor-only" @click="toggleRightSidenav">
        <md-icon>tune</md-icon>
      </md-button>

    </md-toolbar>

    <!-- Data table -->
    <div class="tables wl" v-if="showDataTable">
      <div class="control-buttons">
        <div style="float: left">
          <md-switch v-model="reactiveDataTable" name="reactive-table" class="md-primary">Reactive updates</md-switch>
        </div>
        <md-button class="md-dense" @click.native="updateData" :disabled="reactiveDataTable">
          <md-icon>check</md-icon>
          Save changes
        </md-button>
        <md-button class="md-dense" @click.native="drawDataTable" :disabled="reactiveDataTable">
          <md-icon>refresh</md-icon>
          Reload
        </md-button>
        <md-button class="md-dense" @click.native="showDataTable = false">
          <md-icon>close</md-icon>
          Close
        </md-button>
      </div>
      <div class="table-wrapper"></div>
    </div>

    <!-- Generated links and code -->
    <div class="links wl" v-if="link.length">
      <div class="control-buttons">
        <md-button class="md-dense" @click.native="downloadCode">
          <md-icon>arrow_downward</md-icon>
          Download
        </md-button>
        <md-button class="md-dense" @click.native="copyCode">
          <md-icon>inbox</md-icon>
          Copy to clipboard
        </md-button>
        <md-button class="md-dense" @click.native="link = ''">
          <md-icon>close</md-icon>
          Close
        </md-button>
      </div>
      <pre id="link">{{ link }}</pre>
    </div>

    <!-- Needed for graph -->
    <div v-if="models && models.length" style="position: relative" class="graph-container">
      <div class="wl">
        <network
          class="net"
          ref="network"
          :nodes="graphNodes"
          :edges="graphLinks"
          :options="networkOptions"
          :events="['selectNode']"
          @select-node="selectNode"
        ></network>
        <!--
        <d3-network
          class="net"
          :net-nodes="graphNodes"
          :net-links="graphLinks"
          :options="graphOptions"
          :link-cb="lcb"
          v-on:node-click="ncb"
          v-if="graphNodes.length"
          ></d3-network>
        -->
        <!-- Model parameters input -->
        <div class="parameters">
          <div class="chips">
            <md-chip v-for="b in models[activeModel].blocks" :style="{background: colors[b.typeCode]}">{{ b.name || b.type }}</md-chip>
          </div>
          <p style="font-size:11px;">Model:</p>
          <h2>{{ models[activeModel].modelParams.name }}</h2>
          <p class="model-description">{{ models[activeModel].modelParams.description }}</p>
          <md-input-container v-for="b in models[activeModel].blocks" v-if="b.typeCode === 2 && b.useAsParameter">
            <label>{{ b.name + ((b.units && b.units.length) ? ', ' + b.units : '') }}</label>
            <md-input
              v-model="b.value"
              v-if="(b.dataType !== 'boolean') && (b.dataType !== 'category')"
              :type="(b.dataType === 'float' || b.dataType === 'integer') ? 'number' : ''"
              :step="(b.dataType === 'integer') ? 1 : 0.1"
              ></md-input>
            <md-select
              v-else-if="b.dataType === 'boolean'"
              v-model="b.value"
            >
              <md-option value="true">True</md-option>
              <md-option value="false">False</md-option>
            </md-select>
            <md-select
              v-else-if="b.dataType === 'category'"
              v-model="b.value"
            >
              <md-option v-for="c in b.dataCategories ? b.dataCategories.split(',').map(cat => cat.trim()) : ['']" :value="c" >{{ c }}</md-option>
            </md-select>
          </md-input-container>
        </div>
      </div>
    </div>
    <div class="charts wl"></div>
    <div class="charts-2d wl"></div>
    <div class="charts-extra wl"></div>
    <div class="archives wl"></div>
    <md-button
      v-if="Object.keys(samples).length > 0"
      v-on:click.native="download()"
      style="margin-left: 20px;"
    >
      <md-icon>save_alt</md-icon>
      Download (CSV)
    </md-button>

  </div>

  <!-- PARAMETERS BAR -->
  <md-sidenav v-if="models && models.length" class="param-bar md-right editor-only" ref="rightSidenav">
    <md-toolbar class="md-dense">
      <div class="md-toolbar-container">
        <h3 class="md-title" style="flex: 1">Project settings</h3>
        <md-button class="md-icon-button" @click="closeRightSidenav">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <div style="padding: 10px">

      <!-- Simulation method -->
      <md-input-container class="simulation-method-container">
        <label for="simulation-method">Simulation method:</label>
        <md-select name="simulation-method" id="simulation-method" v-model="models[activeModel].modelParams.method">
          <md-option
            v-for="(methodObj, method) in simulationMethods" 
            :value="method">{{ methodObj.name }}</md-option>
        </md-select>
      </md-input-container>
      <small>
        * - available in WebPPL only<br>
        ** - available in PyMC3 only (server-side)
      </small>

      <!-- Time start-->
      <md-input-container class="simulation-param">
        <label for="time-steps">Time start:</label>
        <md-input
          name="time-start"
          type="number"
          min="0"
          step="1"
          v-model.number="models[activeModel].modelParams.start"
        >
        </md-input>
      </md-input-container>

      <!-- Time steps-->
      <md-input-container class="simulation-param">
        <label for="time-steps">Iterations:</label>
        <md-input
          name="time-steps"
          v-model.number="models[activeModel].modelParams.steps"
        >
        </md-input>
      </md-input-container>

      <!-- Number of chains -->
      <md-input-container
        v-if="(models[activeModel].modelParams.method !== 'deterministic')"
      >
        <label>Number of chains/workers</label>
        <md-input
          type="number"
          step="1"
          v-model="models[activeModel].methodParams.chains"
        ></md-input>
      </md-input-container>


      <!-- Method parameters -->
      <div
        class="method-param"
        v-for="(paramOptions, param) in simulationMethods[models[activeModel].modelParams.method].params"
      >

      <!-- Boolean -->
      <md-checkbox 
        :name="param"
        v-model="models[activeModel].methodParams[param]"
        v-if="paramOptions.type === 'boolean'"
        class="md-primary"
      >{{ param }}</md-checkbox>

      <!-- Select / Number-->
      <md-input-container v-else>
          <label :for="param">{{ param }}</label>
          <md-input
            v-if="(paramOptions.type === 'int') || (paramOptions.type === 'real')"
            type="number"
            :step="(paramOptions.type === 'int') ? 1 : 0.001"
            v-model="models[activeModel].methodParams[param]"
          ></md-input>
          <md-select
            :name="param"
            v-if="paramOptions.type === 'select'"
            v-model="models[activeModel].methodParams[param]"
          >
            <md-option
              v-for="paramSelectValue in paramOptions.values"
              :value="paramSelectValue"
            >{{ paramSelectValue}}</md-option>
          </md-select>
        </md-input-container>

      </div>

      <md-checkbox 
        name="server"
        v-model="server"
        class="md-primary"
      >Server-side simulation</md-checkbox>

      <md-checkbox 
        name="server"
        v-model="serverCompile"
        class="md-primary"
        :disabled="!server"
      >Compile to binaries</md-checkbox>

      <!-- Server URL -->
      <md-input-container class="simulation-param">
        <label for="serverURL">URL</label>
        <md-input
          name="serverUrl"
          v-model="serverURL"
          :disabled="!server"
        >
        </md-input>
      </md-input-container>

      <!-- Server API -->
      <md-input-container class="simulation-param">
        <label for="serverAPI">API Key</label>
        <md-input
          name="serverAPI"
          v-model="serverAPI"
          :disabled="!server"
        >
        </md-input>
      </md-input-container>
      <!--
      <md-button class="md-raised md-primary" v-on:click.native="run()"><span class="desktop">Compile & </span>Run</md-button>
      -->
    </div>
  </md-sidenav>

  <!-- BOTTOM BAR-->
  <md-progress class="progress" v-if="loading" md-indeterminate></md-progress>
  <md-bottom-bar v-if="models && models.length" class="bottom-bar">
    <!-- Time steps-->
    <md-input-container class="simulation-param desktop">
      <label for="time-steps">Iterations</label>
      <md-input
        name="time-steps"
        v-model="models[activeModel].modelParams.steps"
      >
      </md-input>
    </md-input-container>

    <!-- Simulation method -->
    <md-input-container class="simulation-method-container simulation-param desktop editor-only">
      <label for="simulation-method">Simulation method</label>
      <md-select name="simulation-method" id="simulation-method" v-model="models[activeModel].modelParams.method">
        <md-option
          v-for="(methodObj, method) in simulationMethods" 
          :value="method">{{ methodObj.name }}</md-option>
      </md-select>
    </md-input-container>

    <div class="model-summary mobile">
      <p>Method: {{ models[activeModel].modelParams.method }}</p>
      <p>Time steps: {{ models[activeModel].modelParams.steps }}</p>
      <p v-if="(['MCMC','rejection', 'HMC'].indexOf(models[activeModel].modelParams.method) >= 0) &&  models[activeModel].methodParams.samples">Samples: {{ models[activeModel].methodParams.samples }}</p>
    </div>
    <md-button class="md-raised params-button editor-only" @click="toggleRightSidenav">
      <md-icon>tune</md-icon>
      <span class="desktop">Settings</span>
    </md-button>
    <md-button class="run-button md-raised md-primary" :disabled="models[activeModel].blocks.length < 1" v-on:click.native="run()">
      <md-icon>play_arrow</md-icon>
      <span class="desktop editor-only">Compile & </span>Run
    </md-button>
  </md-bottom-bar>

  <!-- Loader -->
  <div id="loader" class="hidden"><span><md-icon>hourglass_empty</md-icon> Processing..</span></div>

  <!-- Notification / Snackbar -->
  <md-snackbar md-position="bottom center" ref="snackbar" md-duration="10000">
    <span>{{ notifyMessage }}</span>
    <md-button class="md-accent" md-theme="light-blue" @click.native="$refs.snackbar.close()">Close</md-button>
  </md-snackbar>

</div>
