<div :class="{dark: theme === 'dark'}">
  <!-- Confirm model removal-->
  <md-dialog-confirm
    md-title="Remove model?"
    md-content-html="To delete current model with all its elements select <b>REMOVE</b><br>To cancel click anywhere outside of this white block or choose CANCEL"
    md-ok-text="Remove"
    md-cancel-text="Cancel"
    @close="removeModel"
    ref="remove-dialog">
  </md-dialog-confirm>

  <md-toolbar class="tool-bar md-dense">
    <input type="file" accept=".csv, .tsv, .txt" id="openDataFile" v-on:change="openDataFile" style="display: none;" />
    <input type="file" accept=".json, .ssp" id="openProjectFile" v-on:change="openProjectFile" style="display: none;" />
    <md-menu md-align-trigger md-size="4">
      <md-button md-menu-trigger class="md-icon-button md-raised">
        <md-icon>more_vert</md-icon>
      </md-button>
      <md-menu-content>
        <md-menu-item v-on:selected="newProject">
          <md-icon style="">insert_drive_file</md-icon>
          <span>New project</span>
        </md-menu-item>
        <md-menu-item v-on:selected="openFile('Project')">
        <md-icon style="">unarchive</md-icon>
          <span>Open project</span>
        </md-menu-item>
        <md-menu-item v-on:selected="saveProject">
          <md-icon style="">archive</md-icon>
          <span>Save project</span>
        </md-menu-item>
        <md-menu-item v-on:selected="openFile('Data')" style="border-bottom: 1px solid #DDD">
          <md-icon style="">border_outer</md-icon>
          <span>Import data</span>
        </md-menu-item>
        <md-menu-item v-if="theme === 'dark'" v-on:selected="setTheme('light')">
          <md-icon style="">brightness_5</md-icon>
          <span>Light theme</span>
        </md-menu-item>
        <md-menu-item v-else="theme === 'light'" v-on:selected="setTheme('dark')">
          <md-icon style="">brightness_2</md-icon>
          <span>Dark theme</span>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
    <!-- <p class="logo-icon">{{ icon }}</p> -->
    <h2 class="md-title logo" style="flex: 1"> StatSim <sup class="version">0.4.0</sup></h2>
    <md-menu md-align-trigger md-size="4">
      <md-button class="md-raised md-primary" md-menu-trigger>
        Add Block
        <md-tooltip md-direction="bottom">Add new element to the model</md-tooltip>
      </md-button>
      <md-menu-content>
        <md-menu-item v-on:click.native="addBlock(2)">
          <md-icon :style="'color: ' + colors[2]">view_headline</md-icon>
          <span>Data (Input)</span>
        </md-menu-item>
        <md-menu-item v-on:click.native="addBlock(0)">
          <md-icon :style="'color: ' + colors[0]">graphic_eq</md-icon>
          <span>Random Variable</span>
        </md-menu-item>
        <md-menu-item v-on:click.native="addBlock(1)">
          <md-icon :style="'color: ' + colors[1]">functions</md-icon>
          <span>Expression</span>
        </md-menu-item>
        <md-menu-item v-on:click.native="addBlock(3)">
          <md-icon :style="'color: ' + colors[3]">exposure_plus_1</md-icon>
          <span>Accumulator</span>
        </md-menu-item>
        <md-menu-item disabled>
          <small>Inference operators:</small>
        </md-menu-item>
        <md-menu-item v-on:click.native="addBlock(4)">
          <md-icon :style="'color: ' + colors[4]">visibility</md-icon>
          <span>Observer</span>
        </md-menu-item>
        <md-menu-item v-on:click.native="addBlock(5)">
          <md-icon :style="'color: ' + colors[5]">done_all</md-icon>
          <span>Condition</span>
        </md-menu-item>
        <!--
        <md-menu-item v-on:click.native="addBlock(6)">
          <md-icon :style="'color: ' + colors[5]">offline_bolt</md-icon>
          <span>Factor</span>
        </md-menu-item>
        -->
      </md-menu-content>
    </md-menu>


  </md-toolbar>
  <div id="side-bar" class="side-bar">
    <!-- MODELS -->
    <div class="model-selector">
      <md-button
        v-for="(model, modelId) in models"
        :class="{'md-dense': true, 'md-raised': (modelId === activeModel)}"
        v-on:click.native="switchModel(modelId)"
      >{{ model.modelParams.name }}
      </md-button>
      <md-button
        class="md-dense md-icon-button"
        v-on:click.native="createModel()"
      >
        <md-icon style="opacity: 0.3">add</md-icon>
        <md-tooltip md-direction="bottom">Add new model or distribution</md-tooltip>
      </md-button>
    </div>
    <!-- MODEL INFO -->
    <div style="padding: 10px;">
    <md-input-container md-clearable>
      <label>Model name</label>
      <md-input
        v-model="modelParams.name"
      ></md-input>
    </md-input-container>
    <div>
      <textarea v-model="modelParams.description"></textarea>
    </div>
    </div>
    <!-- BLOCKS -->
    <md-card 
      v-for="(block, blockIndex) in blocks"
      :id="'block-id-' + blockIndex"
      :class="'block block-' + block.typeCode"
    >
      <!-- Block actions bar-->
      <md-card-actions :class="'block-header-' + block.typeCode">
        <div class="block-name">
          <strong>{{ block.name }}</strong>
          <p class="block-type">{{ block.type }}</p>
        </div>
        <md-button class="md-icon-button" v-on:click.native="moveBlockToTop(blockIndex)">
          <md-icon>keyboard_capslock</md-icon>
          <md-tooltip md-direction="bottom">Move to top</md-tooltip>
        </md-button>
        <md-button class="md-icon-button" v-on:click.native="moveBlockUp(blockIndex)">
          <md-icon>expand_less</md-icon>
          <md-tooltip md-direction="bottom">Move up</md-tooltip>
        </md-button>
        <md-button class="md-icon-button" v-on:click.native="moveBlockDown(blockIndex)">
          <md-icon>expand_more</md-icon>
          <md-tooltip md-direction="bottom">Move down</md-tooltip>
        </md-button>
        <md-button class="md-icon-button" v-on:click.native="removeBlock(blockIndex)">
          <md-icon>delete</md-icon>
          <md-tooltip md-direction="bottom">Remove curent block</md-tooltip>
        </md-button>
      </md-card-actions>

      <!-- Random Variable -->
      <md-card-content v-if="block.typeCode === 0">
        <md-input-container md-clearable>
          <label>Name</label>
          <md-input
            v-model="block.name"
          ></md-input>
        </md-input-container>
        <md-input-container md-clearable>
          <label>Size / Dimensions</label>
          <md-input
            v-model="block.dims"
          ></md-input>
        </md-input-container>
        <md-whiteframe
          md-elevation="11"
          style="padding: 15px; margin: 5px 0 15px"
        >
          <md-input-container>
            <label for="distributionType">Distribution type:</label>
            <!-- @change: reset distribution paramaters when distribution changed -->
            <md-select
              name="distributionType"
              id="distributionType"
              v-model="block.distribution"
            >
              <md-option
                v-for="(params, distributionType) in distributions"
                v-if="distributionType !== modelParams.name" 
                :value="distributionType"
                @selected="block.params = {}"
              >{{ distributionType }}</md-option>
            </md-select>
          </md-input-container>
          <md-input-container
            v-if="block.distribution.length" 
            v-for="(paramOptions, param) in distributions[block.distribution]"
            md-clearable
          >
            <label>{{ param }}</label>
            <md-input
              v-model="block.params[param]"
            ></md-input>
          </md-input-container>
        </md-whiteframe>
        <!-- Sample once per cycle-->
        <md-checkbox
          :disabled="(modelParams.steps > 1.5) && !block.once"
          v-model="block.show"
          class="md-primary"
        >
          Show in results
        </md-checkbox>
        <md-checkbox
          v-model="block.once"
          :disabled="modelParams.steps < 1.5"
          class="md-primary"
        >
          Sampled once
        </md-checkbox>
        <!-- <pre>{{ block }}</pre> -->
      </md-card-content>

      <!-- Expression -->
      <md-card-content v-if="block.typeCode === 1">
        <md-input-container md-clearable>
          <label>Name</label>
          <md-input
            v-model="block.name"
          ></md-input>
        </md-input-container>
        <md-input-container>
          <label>Value</label>
          <md-input
            v-model="block.value"
            :id="'input-' + blockIndex"
          ></md-input>
        </md-input-container>
        <!-- exp -->
        <md-tabs class="md-transparent">
          <md-tab md-label="Base">
            <md-button
              v-for="b, bi in blocks"
              v-if="([0, 1, 2].indexOf(b.typeCode) >= 0) && (bi !== blockIndex)"
              @click.native="addExpression(b.name, blockIndex, 1)"
            >{{ b.name }}</md-button>
            <hr>
            <md-button
              v-for="n in [0,1,2,3,4,5,6,7,8,9]"
              @click.native="addExpression(n + '', blockIndex, 0)"
            >{{ n }}</md-button>
            <md-button @click.native="addExpression('.', blockIndex, 0)">.</md-button>
          </md-tab>
          <md-tab md-label="Math">
            <md-button @click.native="addExpression('+', blockIndex, 0)">+</md-button>
            <md-button @click.native="addExpression('-', blockIndex, 0)">-</md-button>
            <md-button @click.native="addExpression('*', blockIndex, 0)">*</md-button>
            <md-button @click.native="addExpression('/', blockIndex, 0)">/</md-button>
            <md-button @click.native="addExpression('Math.sqrt()', blockIndex, -1)">x<sup>2</sup></md-button>
            <md-button @click.native="addExpression('Math.pow(,)', blockIndex, -2)">x<sup>y</sup></md-button>
            <md-button @click.native="addExpression('Math.PI', blockIndex, 1)">&#960;</md-button>
            <md-button @click.native="addExpression('Math.E', blockIndex, 1)">e</md-button>
          </md-tab>
          <md-tab md-label="Arrays">
            <md-button @click.native="addExpression('sum()', blockIndex, -1)">sum</md-button>
            <md-button @click.native="addExpression('product()', blockIndex, -1)">product</md-button>
            <md-button @click.native="addExpression('listMean()', blockIndex, -1)">mean</md-button>
            <md-button @click.native="addExpression('listVar()', blockIndex, -1)">var</md-button>
            <md-button @click.native="addExpression('listStdev()', blockIndex, -1)">std</md-button>
            <md-button @click.native="addExpression('all()', blockIndex, -1)">all</md-button>
            <md-button @click.native="addExpression('any()', blockIndex, -1)">any</md-button>
            <md-button @click.native="addExpression('filter(function(x) {},)', blockIndex, -2)">filter</md-button>
            <md-button @click.native="addExpression('find(function(x) {},)', blockIndex, -2)">find</md-button>
            <md-button @click.native="addExpression('remove(,)', blockIndex, -2)">remove</md-button>
            <md-button @click.native="addExpression('sort()', blockIndex, -1)">sort</md-button>
            <md-button @click.native="addExpression('map(function(x) {},)', blockIndex, -2)">map</md-button>
            <md-button @click.native="addExpression('map2(function(x,y) {},,)', blockIndex, -3)">map2</md-button>
            <md-button @click.native="addExpression('mapN(function(x) {},)', blockIndex, -3)">mapN</md-button>
            <md-button @click.native="addExpression('reduce(function(x, acc) {},,)', blockIndex, -3)">reduce</md-button>
          </md-tab>
          <md-tab md-label="Tensors">
            <md-button @click.native="addExpression('T.sumreduce()', blockIndex, -1)">sum</md-button>
            <md-button @click.native="addExpression('T.get(,)', blockIndex, -2)">get</md-button>
            <md-button @click.native="addExpression('T.toScalars()', blockIndex, -1)">toScalars</md-button>
            <md-button @click.native="addExpression('T.fromScalars()', blockIndex, -1)">fromScalars</md-button>
            <md-button @click.native="addExpression('T.transpose()', blockIndex, -1)">transpose</md-button>
            <md-button @click.native="addExpression('T.diagonal()', blockIndex, -1)">diagonal</md-button>
            <md-button @click.native="addExpression('T.inverse()', blockIndex, -1)">inverse</md-button>
            <md-button @click.native="addExpression('T.determinant()', blockIndex, -1)">determinant</md-button>
            <md-button @click.native="addExpression('T.dot(,)', blockIndex, -2)">dot</md-button>
            <md-button @click.native="addExpression('T.cholesky()', blockIndex, -1)">cholesky</md-button>
          </md-tab>
        </md-tabs>
	<!-- *exp -->
        <md-checkbox
          v-model="block.show"
          class="md-primary"
        >
          Show in results
        </md-checkbox>
        <md-checkbox 
          v-model="block.history"
          class="md-primary"
          :disabled="modelParams.steps < 1.5"
        >
          Track history
        </md-checkbox>

      </md-card-content>

      <!-- Data -->
      <md-card-content v-if="block.typeCode === 2">
        <md-input-container md-clearable>
          <label>Name</label>
          <md-input
            v-model="block.name"
          ></md-input>
        </md-input-container>
        <md-input-container>
          <label>Comma-separated values</label>
          <md-textarea v-model="block.value" height="5"></md-textarea>
        </md-input-container>
        <md-input-container v-if="block.value.indexOf(',') >= 0">
          <label>Dimensions (Tensor)</label>
          <md-input v-model="block.dims"></md-input>
        </md-input-container>

        <md-checkbox
          v-model="block.show"
          class="md-primary"
        >
          Show in results
        </md-checkbox>
        <md-checkbox
          v-model="block.useAsParameter"
          class="md-primary"
        >
          Use as parameter
          <md-tooltip md-direction="bottom">Pass data to current model using this parameter</md-tooltip>
        </md-checkbox>
              </md-card-content>

      <!-- Accumulator -->
      <md-card-content v-if="block.typeCode === 3">
        <md-input-container md-clearable>
          <label>Name</label>
          <md-input
            v-model="block.name"
          ></md-input>
        </md-input-container>
        <md-input-container>
          <label>Change value/expression</label>
          <md-autocomplete
            v-model="block.value"
            :list="blocks"
            :filter-list="blockFilter"
            :min-chars="0"
            :debounce="300"
            print-attribute="name"
            required
          ></md-autocomplete>
        </md-input-container>
        <md-input-container>
          <label>Initial value</label>
          <md-autocomplete
            v-model="block.initialValue"
            :list="blocks"
            :filter-list="blockFilter"
            :min-chars="0"
            :debounce="300"
            print-attribute="name"
            required
          ></md-autocomplete>
        </md-input-container>
        <div style="display: flex">
          <md-input-container style="width: 40%; margin-right: 5%;">
            <label>Min</label>
            <md-input
              v-model="block.min"
            ></md-input>
          </md-input-container>
          <md-input-container style="width: 40%">
            <label>Max</label>
            <md-input
              v-model="block.max"
            ></md-input>
          </md-input-container>
        </div>
        <md-checkbox v-model="block.show" class="md-primary">
          Show in results
        </md-checkbox>
        <md-checkbox 
          v-model="block.history"
          class="md-primary"
          :disabled="modelParams.steps < 1.5"
        >
          Track history
        </md-checkbox>

      </md-card-content>

      <!-- Observer -->
      <md-card-content v-if="block.typeCode === 4">
        <md-input-container>
          <label>Observed data (scalar, vector or tensor)</label>
          <md-autocomplete
            v-model="block.value"
            :list="blocks"
            :filter-list="blockFilter"
            :min-chars="0"
            :debounce="300"
            print-attribute="name"
            required
          ></md-autocomplete>
        </md-input-container>
        <md-whiteframe
          md-elevation="11"
          style="padding: 15px; margin: 5px 0 15px"
          v-if="block.value.length"
        >
          <md-input-container>
            <label for="distributionType">Distribution:</label>
            <md-select
              name="distributionType"
              id="distributionType"
              v-model="block.distribution"
            >
              <md-option
                v-for="(params, distributionType) in distributions"
                :value="distributionType"
                @selected="block.params = {}"
              >{{ distributionType }}</md-option>
            </md-select>
          </md-input-container>
          <md-input-container
            v-if="block.distribution.length" 
            v-for="(paramOptions, param) in distributions[block.distribution]"
            md-clearable
          >
            <label>{{ param }}</label>
            <md-input
              v-model="block.params[param]"
            ></md-input>
          </md-input-container>
          <p style="font-size: 12px; color: 999;">
            In case of vectors you can get index as <b>_j</b><br>
            Dimension-wise indexes for tensors are <b>_j0, _j1, ...</b><br>
            Values stored in <b>_v</b>
          </p>
        </md-whiteframe>
        <!--
        <md-card-expand>
          <md-card-actions>
            <span style="flex: 1"></span>
            <md-button class="md-icon-button" md-expand-trigger>
              <md-icon>help</md-icon>
            </md-button>
          </md-card-actions>

          <md-card-content>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio itaque ea, nostrum odio. Dolores, sed accusantium quasi non, voluptas eius illo quas, saepe voluptate pariatur in deleniti minus sint. Excepturi.
          </md-card-content>
        </md-card-expand>
        -->
        <!-- <pre>{{ block }}</pre> -->
      </md-card-content>

      <!-- Condition -->
      <md-card-content v-if="block.typeCode === 5">
        <md-input-container>
          <label>Proposition expression (boolean)</label>
          <md-input
            v-model="block.value"
          ></md-input>
        </md-input-container>
      </md-card-content>
    </md-card>

    <!-- Model output -->
    <div class="block">
      <h3 v-if="blocks.length > 0" style="margin: 35px 0 0 0">Model output:</h3>
      <md-checkbox v-for="block in blocks" v-if="block.hasOwnProperty('show')" v-model="block.show" class="md-primary" style="width: 100%; margin: 10px 0 5px 0;">
        <strong>{{ block.name }}</strong> ({{ block.type }})
      </md-checkbox>
    </div>

    <!-- Model control -->
    <md-button v-on:click.native="duplicateModel()">Duplicate model</md-button>
    <md-button v-on:click.native="openDialog('remove-dialog')" :disabled="(models.length <= 1)" class="md-accent">Remove model</md-button>
  </div>

  <!-- CONTENT -->
  <div class="content">
    <md-toolbar :class="'message-bar md-dense' + (error.length ? ' md-accent' : ' md-transparent')">
      <h3 style="flex: 1">
        {{ (error.length) ? 'Error: ' + error : '' }}
        {{ (message.length && !error.length) ? message : '' }}
      </h3>
      <md-button disabled class="desktop">Generate: </md-button>
      <md-button class="desktop" v-on:click.native="generateWebPPL">
        WPPL
      </md-button>
      <md-button class="desktop" v-on:click.native="generateJSON">
        JSON
      </md-button>
      <md-button v-on:click.native="generateLink">
        Link
      </md-button>
      <md-button class="md-icon-button" @click="toggleRightSidenav">
        <md-icon>tune</md-icon>
      </md-button>

    </md-toolbar>
    <pre id="link" v-if="link.length">{{ link }}</pre>
    <svg style="position: absolute">
      <defs>
        <marker id="m-end" markerWidth="10" markerHeight="10" refX="9" refY="3" orient="auto" markerUnits="strokeWidth" >
          <path d="M0,0 L0,6 L9,3 z"></path>
        </marker>
      </defs>
    </svg>
    <d3-network
      :net-nodes="graphNodes"
      :net-links="graphLinks"
      :options="graphOptions"
      :link-cb="lcb"
      v-on:node-click="ncb"
      v-if="graphNodes.length"
    ></d3-network>
    <div class="charts"></div>
    <div class="charts-2d"></div>
  </div>

  <!-- PARAMETERS BAR -->
  <md-sidenav class="param-bar md-right" ref="rightSidenav">
    <md-toolbar class="md-dense">
      <div class="md-toolbar-container">
        <h3 class="md-title" style="flex: 1">Simulation parameters</h3>
        <md-button class="md-icon-button" @click="closeRightSidenav">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <div style="padding: 10px">

      <!-- Simulation method -->
      <md-input-container class="simulation-method-container">
        <label for="simulation-method">Simulation method:</label>
        <md-select name="simulation-method" id="simulation-method" v-model="modelParams.method">
          <md-option
            v-for="(methodObj, method) in simulationMethods" 
            :value="method">{{ methodObj.name }}</md-option>
        </md-select>
      </md-input-container>

      <!-- Time steps-->
      <md-input-container class="simulation-param">
        <label for="time-steps">Time steps (intervals):</label>
        <md-input
          name="time-steps"
          type="number"
          min="1"
          step="1"
          v-model="modelParams.steps"
        >
        </md-input>
      </md-input-container>

      <!-- Method parameters -->
      <div
        class="method-param"
        v-for="(paramOptions, param) in simulationMethods[modelParams.method].params"
      >

      <!-- Boolean -->
      <md-checkbox 
        :name="param"
        v-model="methodParams[param]"
        v-if="paramOptions.type === 'boolean'"
        class="md-primary"
      >{{ param }}</md-checkbox>

      <!-- Select / Number-->
      <md-input-container v-else>
          <label :for="param">{{ param }}</label>
          <md-input
            v-if="(paramOptions.type === 'int') || (paramOptions.type === 'real')"
            type="number"
            v-model="methodParams[param]"
          ></md-input>
          <md-select
            :name="param"
            v-if="paramOptions.type === 'select'"
            v-model="methodParams[param]"
          >
            <md-option
              v-for="paramSelectValue in paramOptions.values"
              :value="paramSelectValue"
            >{{ paramSelectValue}}</md-option>
          </md-select>
        </md-input-container>

      </div>
      <!-- Run -->
      <md-button class="md-raised md-primary" v-on:click.native="run()"><span class="desktop">Compile & </span>Run</md-button>
    </div>
  </md-sidenav>

  <!-- BOTTOM BAR-->
  <md-progress class="progress" v-if="loading" md-indeterminate></md-progress>
  <md-bottom-bar class="bottom-bar">
    <!-- Time steps-->
    <md-input-container class="simulation-param desktop">
      <label for="time-steps">Time steps:</label>
      <md-input
        name="time-steps"
        type="number"
        min="1"
        step="1"
        v-model="modelParams.steps"
      >
      </md-input>
    </md-input-container>

    <!-- Simulation method -->
    <md-input-container class="simulation-method-container simulation-param desktop">
      <label for="simulation-method">Simulation method:</label>
      <md-select name="simulation-method" id="simulation-method" v-model="modelParams.method">
        <md-option
          v-for="(methodObj, method) in simulationMethods" 
          :value="method">{{ methodObj.name }}</md-option>
      </md-select>
    </md-input-container>

    <div class="summary mobile">
      <p>Method: {{ modelParams.method }}</p>
      <p>Time steps: {{ modelParams.steps }}</p>
      <p v-if="(['MCMC','rejection', 'HMC'].indexOf(modelParams.method) >= 0) && methodParams.samples">Samples: {{ methodParams.samples }}</p>
    </div>
    <md-button class="md-raised md-accent" @click="toggleRightSidenav">
      <md-icon>tune</md-icon>
      Params
    </md-button>
    <md-button class="md-raised md-primary" v-on:click.native="run()">
      <md-icon>play_arrow</md-icon>
      <span class="desktop">Compile & </span>Run
    </md-button>
  </md-bottom-bar>
  <div id="loader" class="hidden"><span>Processing..</span></div>
</div>
